body {
  font-family: "Snell Roundhand";
  background-color: #f9ecd1;
  text-align: center;
  font-size: 140%;
  color: #a8d9d0
  background-image: url("img/8.jpeg");
  background-repeat:no-repeat;
  background-size: 100% auto;
  -moz-background-size:auto;
}

a {
  
  color: #e2a9b8;
  background-color: #f6e8e0;
  padding: 10px;
  font-size: larger;
  border-radius: 50% 20% / 10% 40%;
  border-left-style: groove;
  border-right-style: groove;
  border-top-style: dotted;
  border-bottom-style: dotted;
  border: 3px solid #d3bedb;
}

table {
  margin-left: auto; /* set table in center*/
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 30px;
  color: #f89a19;
  font-size: 120%;
  border:5px solid #a8d9d0;
}

td {
  padding: 20px; /* table size*/
  border: 5px solid;
}

.div-class {
 color: mediumorchid;
}

#div-id {
  color: crimson;
}

div {
  color: orange;
}



 
